import * as React from 'react';

import { Container, Heading } from '@chakra-ui/react';
import { GetStaticProps } from 'next';
import { useTranslation } from 'next-i18next';
import { serverSideTranslations } from 'next-i18next/serverSideTranslations';
import Head from 'next/head';

type {{pascalCase name}}PageProps = {};

const {{pascalCase name}}Page = () => {
  const { t } = useTranslation('{{kebabCase name}}');

  return (
    <>
      <Head>
        <title>{t('title')}</title>
        <meta content={t('description')} name="description" />
      </Head>

      <Container as="main" data-testid="{{pascalCase name}}" maxW="container.xl">
        <Heading>{t('title')}</Heading>
      </Container>
    </>
  );
};

export const getStaticProps: GetStaticProps<{{pascalCase name}}PageProps> = async ({ locale }) => {
  return {
    props: {
      ...(await serverSideTranslations(locale as string, ['common', '{{kebabCase name}}'])),
    },
  };
};

export default {{pascalCase name}}Page;

