import * as React from 'react';

import Head from 'next/head';

const {{pascalCase name}} = () => {
  return (
    <>
      <Head>
        <title>{{pascalCase name}} Page</title>
        <meta content="Application's {{pascalCase name}} Page" name="description" />
      </Head>

      <main data-testid="{{kebabCase name}}">
        <h1>{{pascalCase name}} Page</h1>
      </main>
    </>
  );
};

export default {{pascalCase name}};
